html
    include head
    body 
        include header
        section.schedule.shape-2
            .container
                .schedule-table
                    h1.display-4 A propos
                    p Ce projet est réalisé par :  CHIQUET Basile - RIOU Adrien - ROCHAT Nicolas -  ROMDHANE Amir
                    p Il y a actuellement  
                        strong #{count} 
                        | films dans la base de données.