html
    include head
    body 
        include header
        section.schedule.shape-2
            .container
                .schedule-table
                    h1.display-4 Acteurs de #{movie.title}

                    div.row
                        each actor in actors 
                            div.col-lg-2.card
                                img.card-img-top(src='http://image.tmdb.org/t/p/w185' + actor.profile_path)
                                div.card-body
                                    h5.card-title #{actor.name} as #{actor.character} 

                        if actors.length == 0
                            div.alert.alert-warning Aucun acteur pour ce film.