html
    head
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700')
        link(href='css/custom.css', rel='stylesheet', type='text/css', media='all')
        link(href='css/style.default.css', rel='stylesheet', type='text/css', media='all')


        script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')

        title= "MovieCenter"

    body
        include header

        block content
        .main.container
            .row
            .col-md-6.col-md-offset-3
                h1.display-4.m-b-2 New movie

                // add new movie form
                form(method='POST' action='/addMovie')
                    div.form-group
                        label(for='original_title') Title :
                        input#original_title.form-control(type='text', name='original_title')
                    div.form-group
                        label(for='release_date') Release date :
                        input#release_date.form-control(type='date', name='release_date')
                    div.form-group
                        label(for='overview') Overview :
                        input#overview.form-control(type='description', name='overview')
                    div.form-group
                        label(for='budget') Budget :
                        input#budget.form-control(type='int', name='budget')
                    div.form-group
                        label(for='popularity') Popularity :
                        input#popularity.form-control(type='int', name='popularity')
                    button.btn.btn-primary(type='submit') Submit
