// navbar
header.header
    nav.navbar.navbar-expand-lg
        .container
            // Navbar brand
            a.navbar-brand.font-weight-bold(href='/')
                h4 MovieCenter DLC
            // Navbar toggler button
            button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                | Menu
                i.icon.ion-md-list.ml-2
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.mx-auto.ml-auto
                    if (active === 'all')
                        li.nav-item
                            a.nav-link.active(href='/') Tous les films
                    else
                        a.nav-link(href='/') Tous les films

                    if (active === 'latest')
                        li.nav-item
                            a.nav-link.active(href='/latest?page=1') Dernières sorties
                    else
                        a.nav-link(href='/latest?page=1') Dernières sorties

                    if (active === 'add')
                        li.nav-item
                            a.nav-link.active(href='/add') Ajouter un film
                    else
                        a.nav-link(href='/add') Ajouter un film

                    if (active === 'about')
                        li.nav-item
                            a.nav-link.active(href='/about') A propos
                    else
                        a.nav-link(href='/about') A propos

                .form-inline
                    script.
                        function search() {
                            return window.location.href = "/search?searchQuery="+ document.getElementById("searchBar").value;
                        }
                    input.form-control#searchBar(type='text', placeholder='Rechercher', aria-label='Search')
                    button.btn.btn-primary(onclick="search()") Go
