section.schedule.shape-2
    .container
        .schedule-table
            h1.display-4 #{title}

each movie in movies
    section.schedule.shape-2
        .container
            .schedule-table
                #nav-tabContent.tab-content
                    #nav-mon.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-mon-tab')
                        .schedule-table-item
                            .row.align-items-center
                                .col-lg-3
                                    a.schedule-item-image(href='/details?movieId='+movie.id+'&page=' + page)
                                        img.img-fluid(src='http://image.tmdb.org/t/p/w185' + movie.poster_path)
                                .col-lg-9
                                    if movie.genres 
                                        each genre in movie.genres
                                            span.schedule-item-genre.gradient-1 #{genre.name}
                                    h3.schedule-item-name #{movie.title} - #{movie.release_date.substring(0, 4)}
                                    p.schedule-item-description
                                        | #{movie.overview}
                                    .schedule-item-time
                                        .viewing-times
                                        .duration
                                            | #{movie.runtime} Mins
                                            span.certification #{movie.vote_average}
nav(aria-label='Page navigation')
    ul.pagination.justify-content-center
        if page != 1
            li.page-item
                a.page-link(href='/' + active + '?page=' + (page-1), aria-label='Previous')
                    span(aria-hidden='true') «
                    span.sr-only Previous
        else
            li.page-item.disabled
                a.page-link(href='#', aria-label='Previous')
                    span(aria-hidden='true') «
                    span.sr-only Previous

        - for(var i = 1; i <=  Math.ceil(moviesNumber/2); i ++ )
            if page == i
                li.page-item.active
                    a.page-link(href='/'+active+'?page='+i) #{i}
            else
                li.page-item
                    a.page-link(href='/' + active + '?page=' + (i)) #{i}
        if page != Math.ceil(moviesNumber/2)
            li.page-item
                a.page-link(href='/' + active + '?page=' + (page+1), aria-label='Next')
                    span(aria-hidden='true') »
                    span.sr-only Next
        else
            li.page-item.disabled
                a.page-link(href='/#', aria-label='Next')
                    span(aria-hidden='true') »
                    span.sr-only Next

