html 
    include head
    body
        include header
        section.schedule.shape-2
        .container
            .schedule-table
                h1.display-4 Détails de #{movie.title}
                    div.card-body 
                        h5.card-title Overview :
                        p.schedule-item-description
                            |#{movie.overview}
                    div.card-body
                        h5.card-title Released date :
                        p.schedule-item-description
                            |#{movie.released_date}
                    div.card-body
                        h5.card-title Popularity :
                        p.schedule-item-description
                            |#{movie.popularity}
                    div.card-body
                        h5.card-title Language :
                        p.schedule-item-description
                            |#{movie.original_language}
                    div.card-body
                        h5.card-title Budget :
                        p.schedule-item-description
                            |#{movie.budget}


                    br
                    a(href='/actors?movieId='+movie.id)
                        button.btn.btn-primary voir les acteurs